html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  background-color: #f8f9fa;
}

main {
  min-height: calc(100vh - 180px);
}

.navbar-brand {
  white-space: normal;
}

.card {
  border: 1px solid rgba(0, 0, 0, .125);
}

.table td,
.table th {
  vertical-align: middle;
}

.partner-full-name {
  white-space: nowrap;
}

.js-partner-row {
  cursor: pointer;
}

.btn-group-sm > .btn,
.btn-sm {
  white-space: nowrap;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #fff;
}

.table-warning.font-weight-bold td {
  font-weight: 600;
}

.modal-body dl dt {
  font-weight: 600;
}

.modal-body dl dd {
  margin-bottom: .5rem;
}

.validation-summary-valid {
  display: none;
}

.field-validation-error {
  display: block;
  margin-top: .25rem;
  font-size: .875rem;
}

.input-validation-error {
  border-color: #dc3545;
}